* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7") format("woff");
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    /* padding: 12px 16px; */
    padding: 0;
    color: #333;
    font-size: 12px;
    font-family: Inter, Roboto, sans-serif;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 12px;
}

.input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.005em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 24px);
    height: 30px;
    margin: 12px;
    padding: 8px 4px 8px 7px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    background-color: #ffffff;
}

.input:hover {
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.input::-moz-selection {
    color: #000000;
    background-color: rgba(24, 145, 251, 0.3);
}

.input::selection {
    color: #000000;
    background-color: rgba(24, 145, 251, 0.3);
}

.input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
}

.input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
}

.input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
}

.input:not(:disabled):not(:hover):placeholder-shown {
    border: 1px solid transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcAAAAABCAYAAABJ5n7WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgSURBVHgB7cMBCQAACMTAiR3sX1TQHr+DK2B+I0lSjj29qAEYlIbeBgAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center bottom -0.9px;
    background-size: calc(100% - 10px) 1px;
}

.input:not(:disabled):focus:placeholder-shown {
    border: 2px solid #18a0fb;
}

.input:not(:disabled):focus:not(:placeholder-shown) {
    padding-left: 6px;
}

.input:disabled:hover {
    border: 1px solid transparent;
}

.input:active, .input:focus {
    padding: 8px 4px 8px 6px;
    color: #000000;
    border: 2px solid #18a0fb;
    border-radius: 2px;
}

.input:disabled {
    position: relative;
    color: rgba(0, 0, 0, 0.3);
}

.input:disabled:active {
    padding: 8px 4px 8px 7px;
}

ul {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.005em;

    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: calc(100% - 96px);
    overflow: scroll;
}

li a,
li#loader {
    color: #333;
    display: flex;
    align-content: center;
    padding: 8px 16px;
    line-height: 18px;
    text-decoration: none;
}

li * {
    user-select: none;
    pointer-events: none;
}

li:hover {
    cursor: pointer;
    /*background-color: #daebf7;*/
}

.active {
    background-color: #daebf7;
}

.hidden {
    display: none;
}

.name {
    margin-right: 8px;
}

#loader svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    animation: spin 0.8s linear infinite;
}

#loader p {
    margin: 0;
}

#loader svg * {
    fill: #333;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.show {
    opacity: 1 !important;
}